body {
    background-color: darkgreen;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
}

kbd {
    height: 300px;
    width: 50px;
    background-color: white;
    display: inline-block;
    border: thin solid gray;
    margin-left: 0;
    text-align: center;
    line-height: 500px;
}